<section class="container">
  <div class="navbar">
    <div [routerLink]="['/step-a-from-of']" routerLinkActive="router-link-active">from and of</div>
    <div [routerLink]="['/step-b-map-concat']" routerLinkActive="router-link-active">map and concat</div>
    <div [routerLink]="['/step-c-concatMap-delay']" routerLinkActive="router-link-active">concatMap and delay</div>
    <div [routerLink]="['/step-d-merge']" routerLinkActive="router-link-active">merge</div>
    <div [routerLink]="['/step-e-subject']" routerLinkActive="router-link-active">subject</div>
    <div [routerLink]="['/step-f-fromevent']" routerLinkActive="router-link-active">fromEvent</div>
    <div [routerLink]="['/step-g-throttle']" routerLinkActive="router-link-active">throttle</div>
    <div [routerLink]="['/step-h-buffers']" routerLinkActive="router-link-active">buffers</div>
    <div [routerLink]="['/step-i-http']" routerLinkActive="router-link-active">http</div>
    <div [routerLink]="['/step-j-ngrx']" routerLinkActive="router-link-active">ngrx</div>
    <div [routerLink]="['/step-j-ngrx-admin']" routerLinkActive="router-link-active">ngrx admin</div>
  </div>
  <div>

    <router-outlet></router-outlet>
  </div>
</section>
