<section class="container">
  <div class="navbar">
    <div [routerLink]="['/step-a-from-of']" routerLinkActive="router-link-active">from and of</div>
    <div [routerLink]="['/step-b-map-concat']" routerLinkActive="router-link-active">map and concat</div>
    <div [routerLink]="['/step-c-concatMap-delay']" routerLinkActive="router-link-active">concatMap and delay</div>
    <div [routerLink]="['/step-d-merge']" routerLinkActive="router-link-active">merge</div>
    <div [routerLink]="['/step-e-subject']" routerLinkActive="router-link-active">subject</div>
  </div>
  <div>

    <router-outlet></router-outlet>
  </div>
</section>
